
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

@mixin mobile {
  @media screen and (max-width:480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width:820px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width:1200px) {
    @content;
  }
}
body{
  margin: 0;
  background-color: #F5E9CF;
}
.appcontainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  .nav{  
    a{
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
 @include mobile() {
  flex-direction: column;
  gap: 20px;
 }
 .suggestion{
  gap: 15px;  
  width: 95%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
 }
display: flex;
background-color: #4D455D;
padding: 5px;
justify-content: space-around;
align-items: center;
  h1{
    margin-bottom: 45px;
    font-size: 30px;
    margin-left: 20px;
    color: white;
   @include mobile(){
    text-align: center;
    margin-bottom: 10px;
   }
  }
   .searchbar{  
  align-self: center;
    input{  
      font-size: 16px;
      @include mobile(){
        padding: 10px 110px 10px 10px;;
        margin-right: 10px;
      }
      padding: 10px 200px 10px 10px;
      background-color: #eaeaeb;
      color: #6c6c6c;
      border-radius: 10px;
      border:none;
      transition: all .4s;
    }
    input:focus{
      border:none;
      outline:none;
  
    }
    img{
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-left: -40px;
     margin-bottom: -5px;
    }
   }
  }
  h1{
    margin-top: 50px;
    margin-left: 30px;
    @include mobile() {
      margin-left: 0px;
    }
    color: #4D455D;
    text-align: center;
  }
  .movies{
    padding: 50px;
    background-color: #F5E9CF;
    display: grid;
    grid-template-columns: repeat(3,1fr);
@include mobile(){
  grid-template-columns: (1fr)
}
    gap: 50px; 
    .moviecard{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        border-radius: 4px 4px 0px 0px;
        width: 210px;
        height: 300px;
      }
.ratingimage{
  cursor: pointer;
  position: relative;
  .controlicon{
    background-color: #4D455D;
    color:#F5E9CF;
    cursor: pointer;
    border-radius: 1px;
    position: absolute;
    right: 0px;
    border-radius: 1.5px 2px 2px 2px;
    padding:4px;
    gap:5px;
  }
  .rating{
    position: absolute;
    display:flex;
    left: 0px;
    background-color:yellow;
    border-radius: 3px;
    padding: 6px;
    gap:6px;
    img{
      width: 15px;
      height: 15px;
    }
  }
}
        p{
          color: white;
          font-size: 18px;
        }
      .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: -5px;
          background-color: #4D455D;
          width: 200px;
          padding: 5px;
          border-radius: 3px;
   
      }
   
      .overview{
        overflow: auto;
        max-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5px;
        background-color: #4D455D;
        width: 200px;
        padding: 5px;
        border-radius: 3px;
      }
      }
    
    }
  }
